{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center mb-3">My Tasks</h3>
                    <ul class="list-group text-center">
                        {% if todoitem_list %}
                            {% for todoitem in todoitem_list %}
                                <a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
                                    <li class="list-group-item">{{ todoitem.task_name }}</li>
                                </a>
                            {% endfor %}
                        {% else %}
                            <p>No tasks have been created</p>
                        {% endif %}
                    </ul>
                </div>

                
                    <h3 class="text-center mb-3">My Events</h3>
                    <ul class="list-group text-center">
                        {% if event_list %}
                            {% for event in event_list %}
                                <a href="{% url 'todolist:viewevent' event.id %}" class="text-decoration-none">
                                    <li class="list-group-item">{{ event.event_name }}</li>
                                </a>
                            {% endfor %}
                        {% else %}
                            <p>No events have been created</p>
                        {% endif %}
                    </ul>
                
            </div>
        </div>

    {% elif user.is_anonymous == True %}
        <h1 class="text-center my-3">You are not authorized to access this page</h1>
        <p>Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
    {% endif %}
{% endblock %}




